* {
  box-sizing: border-box;
}



html,
body,
.root {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #ffffff !important;
}

#mapid { height: 290px; }

/* SOFTKEYS */

#softkey {
  height: 30px;
  max-height: 30px;
  width: 100%;
  max-width: 100%;
  background: #c5cac5;
  display: flex;
  flex-shrink: 0;
  white-space: nowrap;
  padding: 0 5px;
  font-weight: 700;
  box-sizing: border-box;
  line-height: 26px;
  margin-top: auto;
  position: absolute;
  bottom: 0;
}

#left,
#right {
  font-size: 14px;
  color: #313131;
  width: 100%;
}

#left {
  text-align: left;
  padding-right: 5px;
}

#center {
  color: #313131;
  font-size: 14px;
  text-align: center;
  width: 100%;
}

#right {
  text-align: right;
  padding-left: 5px;
}

/* Style the tab */
.tab {
  overflow-x: hidden;
  white-space: nowrap;
  background-color: #dddddd;
  height: 2.2rem;
  outline: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
	top: 0;
}

/* Style the buttons that are used to open the tab content */
.tab span {
  float: left;
  border: none;
  padding: 5px 5px;
}

/* Create an active/current tablink class */
.tab span.selected {
  border-bottom: 3px solid #008080;
}


div.list {
	background-color : #EEEEEE;
	border-top:1px solid #AAAAAA;
	color:#008080;
	padding: 5px;
	font-weight: 400;
	font-size: 1.1rem;
	overflow-x: hidden;
	overflow-y: auto;
}

div.list label {	
	display: inline-block;
	width: 210px;
}

div.list .info {	
	font-size: 0.7rem;
}

div.list.selected {
	background-color : #008080;
	color:white;
}

/* TOASTR like */

div#toastr {
	position : absolute;
	top:0;
	left:0;
	width :230px;
	padding:10px;
	margin:5px;
	background-color : yellow;
	z-index: 1000;
	border: 1px solid #666666;
	border-radius: 5px;
}

div#toastr.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

div#toastr.init {
  visibility: hidden;
  opacity: 0;
}

div#toastr.visible {
  visibility: visible;
  opacity: 1;
}
