* {
  box-sizing: border-box;
}



html,
body,
.root {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #ffffff !important;
}

#mapid { height: 290px; }

/* SOFTKEYS */

#softkey {
  height: 30px;
  max-height: 30px;
  width: 100%;
  max-width: 100%;
  background: #c5cac5;
  display: flex;
  flex-shrink: 0;
  white-space: nowrap;
  padding: 0 5px;
  font-weight: 700;
  box-sizing: border-box;
  line-height: 26px;
  margin-top: auto;
  position: absolute;
  bottom: 0;
}

#left,
#right {
  font-size: 14px;
  color: #313131;
  width: 100%;
}

#left {
  text-align: left;
  padding-right: 5px;
}

#center {
  color: #313131;
  font-size: 14px;
  text-align: center;
  width: 100%;
}

#right {
  text-align: right;
  padding-left: 5px;
}

/* Style the tab */
.tab {
  overflow-x: hidden;
  white-space: nowrap;
  background-color: #dddddd;
  height: 3rem;
  outline: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
	top: 0;
}

/* Style the buttons that are used to open the tab content */
.tab span {
  float: left;
  border: none;
  padding: 5px 5px;
  transition: 0.3s;
}

/* Create an active/current tablink class */
.tab span.active {
  border-bottom: 3px solid blue;
}


div.list {
	background-color : white;
	color:blue;
	padding: 10px;
}

div.list.selected {
	background-color : blue;
	color:white;
}
