* {
  box-sizing: border-box;
}

html,
body,
#root {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #ffffff !important;
}

/* HEADER ----------------- */

header {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 128);
  padding: 3px 10px;
}

header span {
  font-size: 16px;
  color: #FFFFFF;
}

/* Date label ------------- */

#dateLabel {
	color: #313131;
	display: flex;
	font-weight :bold;
	justify-content: center;
	margin-top:5px;
} 

/* Forecast display */

#resultTable {display:table;margin-top:5px;color:#000000;}
.row {display:table-row;padding-left:3px;padding-right:3px;}
.cell{display:table-cell;padding-left:3px;padding-right:3px;}
.cellData {display:table-cell;padding-left:3px;padding-right:3px;}

/* SOFTKEYS */

#softkey {
  height: 30px;
  max-height: 30px;
  width: 100%;
  max-width: 100%;
  background: #c5cac5;
  display: flex;
  flex-shrink: 0;
  white-space: nowrap;
  padding: 0 5px;
  font-weight: 700;
  box-sizing: border-box;
  line-height: 26px;
  margin-top: auto;
  position: absolute;
  bottom: 0;
}

#left,
#right {
  font-size: 14px;
  color: #313131;
  width: 100%;
}

#left {
  text-align: left;
  padding-right: 5px;
}

#center {
  color: #313131;
  font-size: 14px;
  width: 100%;
}

#right {
  text-align: right;
  padding-left: 5px;
}



/* For temperature background */
.t-12 	{background-color:#0265ff;}
.t-11 	{background-color:#0265ff;}
.t-10 	{background-color:#0265ff;}
.t-9 	{background-color:#0265ff;}

.t-8 	{background-color:#099bff;}
.t-7 	{background-color:#099bff;}
.t-6 	{background-color:#099bff;}
.t-5 	{background-color:#099bff;}

.t-4 	{background-color:#3ac5fc;}
.t-3 	{background-color:#3ac5fc;}
.t-2 	{background-color:#3ac5fc;}
.t-1 	{background-color:#3ac5fc;}

.t0 	{background-color:#65fff8;}
.t1 	{background-color:#65fff8;}
.t2 	{background-color:#65fff8;}
.t3 	{background-color:#65fff8;}

.t4 	{background-color:#60fd68;}
.t5 	{background-color:#60fd68;}
.t6 	{background-color:#60fd68;}
.t7 	{background-color:#60fd68;}

.t8 	{background-color:#67fe00;}
.t9 	{background-color:#67fe00;}
.t10 	{background-color:#67fe00;}
.t11 	{background-color:#67fe00;}

.t12 	{background-color:#bffa08;}
.t13 	{background-color:#bffa08;}
.t14	{background-color:#bffa08;}
.t15 	{background-color:#bffa08;}

.t16 	{background-color:#fffd07;}
.t17	{background-color:#fffd07;}
.t18 	{background-color:#fffd07;}
.t19	{background-color:#fffd07;}

.t20 	{background-color:#fbd008;}
.t21	{background-color:#fbd008;}
.t22 	{background-color:#fbd008;}
.t23	{background-color:#fbd008;}

.t24 	{background-color:#ff9b00;}
.t25	{background-color:#ff9b00;}
.t26 	{background-color:#ff9b00;}
.t27	{background-color:#ff9b00;}

.t28 	{background-color:#fb6705;}
.t29	{background-color:#fb6705;}
.t30 	{background-color:#fb6705;}
.t31	{background-color:#fb6705;}

.t32 	{background-color:#ff322e;}
.t33	{background-color:#ff322e;}
.t34 	{background-color:#ff322e;}
.t35	{background-color:#ff322e;}

/* For wind strength */
.wGreen		{color:green;}
.wOrange	{color:orange;font-weight:bold;}
.wRed		{color:red;font-weight:bold;}